body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

.button-white {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 17.5px;
    font-weight: 400;
    padding: 8.5px 14px;
    padding-right: 10px;
    border-radius: 4px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 10;

    tr {
        th {
            background-color: #efeef4;
            border: 4px solid white;
        }
    }

    tr:first-child {
        th:first-child {
            border-top-left-radius: 15px;
        }

        th:last-child {
            border-top-right-radius: 15px;
        }
    }

    tr:last-child {
        th {
            border-bottom: 3px solid #d7d6e3;
        }
    }
}

table{
    table-layout: auto !important;
}

.range_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

.sliders_control {
    position: relative;
    height: 32px;
}

.sliders_control input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #C6C6C6;
    pointer-events: none;
    outline: none;
    border-radius: 3px;
}

.sliders_control .from-slider {
    height: 0;
    z-index: 1;
}

.sliders_control input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #2563eb;
    cursor: pointer;
}

.sliders_control input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #2563eb;
    cursor: pointer;
    border: none;
}

.sliders_control input[type="range"]::-webkit-slider-thumb:hover {
    background: #eff6ff;
}

.sliders_control input[type="range"]::-moz-range-thumb:hover {
    background: #eff6ff;
}

