body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-display: swap;
}

.button-white {
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 17.5px;
    font-weight: 400;
    padding: 8.5px 14px;
    padding-right: 10px;
    border-radius: 4px;
}

thead {
    tr {
        th {
            background-color: #efeef4;
            border: 4px solid white;
        }
    }

    tr:first-child {
        th:first-child {
            border-top-left-radius: 15px;
        }

        th:last-child {
            border-top-right-radius: 15px;
        }
    }

    tr:last-child {
        th {
            border-bottom: 3px solid #d7d6e3;
        }
    }
}

table{
    table-layout: auto !important;
}

